*{
	margin: 0;
	padding: 0;
}
body {
	font-family: arial;
	font-size: 14px;
	color: #666;
}

.espacio {
	margin-bottom: 20px;
	background-color: #005a9f;
}

p {
	color:white;
}

.page-header {
	width: 1366px;
	height: 95px;
	background: #000000;
}
#container {
	float: left;
	height: 923px;
	width: 1051px;
}
#container2 {
	float: right;
	height: 923px;
	width: 300px;
}
#container .pequeno {
	float: left;
	width: 264px;
	height: 406px;
	margin-left: 12.75px;
	background-color: #CCC;
	margin-top: 30px;
}
#container .grande {
	float: left;
	width: 472px;
	height: 406px;
	margin-left: 12.75px;
	background-color: #999;
	margin-top: 30px;
}
#container .pequeno2 {
	float: left;
	height: 395px;
	width: 360px;
	margin-left: 12.75px;
	margin-top: 30px;
	background-color: #666;
}
#container .grande2 {
	float: left;
	width: 653px;
	margin-left: 12.75px;
	height: 395px;
	margin-top: 30px;
	background-color: #333;
}
#container2 .redes {
	float: left;
	height: 85px;
	width: 292px;
	background-color: #CCC;
	margin-top: 30px;
}
#container2 .publicidad {
	float: left;
	height: 252px;
	width: 300px;
	background-color: #666;
	margin-top: 10px;
}
#container2 .versionimpresa {
	float: left;
	height: 288px;
	width: 250px;
	background-color: #333;
	margin-top: 10px;
}
#container2 .encuesta {
	float: left;
	height: 175px;
	width: 250px;
	background-color: #CCC;
	margin-top: 10px;
}

footer {
	background: #cccccc;
	width: 1366px;
	height: 150px;
	clear: both;
	}