*{
	margin: 0;
	padding: 0;
}
body {
	font-family: arial;
	font-size: 14px;
	color: #666;
}

.espacio {
	margin-bottom: 20px;
	background-color: #005a9f;
}

p {
	color:white;
}

.cabecera {
	width: 1366px;
	height: 95px;
	padding-left: 0px;
	padding-right: 0px;
}
.fecha {
	width: 250px;
	height: 30px;
}
.logo {
	width: 392px;
	height: 54px;
}
.buscar {
	width: 341px;
	height: 29px;
}

.navegador {
	background-color:#e1e5e4;
}

.seccion {
	background-color:#bababa;
}

.page-header {
	width: 1366px;
	height: 95px;
	background: #000000;
}
.contenido{
	width: 1170px;
	height: 809px;
}
.izquierda {
	width: 900px;
	height: 809px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 25px;
}
.espectaculos {
	width: 225px;
	height: 347px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 5px;
}
.foto {
	width: 405px;
	height: 368px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 15px;
}
.mundo {
	width: 226px;
	height: 378px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 15px;
}
.noticia {
	width: 310px;
	height: 339px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 5px;
	margin-left: 10px;
}
.mistura {
	width: 560px;
	height: 339px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 5px;
	margin-left: 20px;
}
.derecha {
	width: 270px;
	height: 809px;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 25px;
}
.redessociales {
	width: 251px;
	height: 74px;
	padding-right: 0px;
	padding-left: 0px;
}
.aptitus {
	width: 271px;
	height: 217px;	
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 5px;
}
.versionimpresa {
	width: 215px;
	height: 247px;	
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 13px;
	margin-left: 15px;
}
.encuesta {
	width: 215px;
	height: 161px;	
	padding-right: 0px;
	padding-left: 0px;
	margin-top: 5px;
	margin-left: 15px;
}

.footer {
	background: #eeeeee;
	width: 1366px;
	height: 336px;
	clear: both;
	}
.footer p {
	font-size: 12px; color: #6a6c73; 


}
.contactenos{
	width: 322,75px;
	height: 286px;

}
.contactenos1{
	width: 161,375px;
	height: 282px;
	background: #cccccc;

}
.contactenos2{
    width: 161,375px;
	height: 282px;
	background: #333333;
	


}


	